img {
  zoom: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.display {
  background-color: rgb(209, 233, 211);
}

.pokemons {
  img {
    width: 60px;
    cursor: pointer;
  }

  background-color: #ededed;
  display: grid;
  grid-template-columns: auto auto;
}

.bar-hp {
    width: 100px;
    background-color: red;
    height: 14px;
    border-radius: 8px;
}

.hp {
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.painel-combate {
  display: flex;
  background-color: #ededed;
  border-radius: 10px;
}

.painel-info {
  font-family: serif;
  width: 50%;
}

.btn-painel {
  border: none;
  background-color: red;
  cursor: pointer;
  color: white;
  width: 120px;
  border-radius: 10px;
  font-weight: 600;
}

.btn-painel:hover {
  background-color: rgb(95, 11, 11);
}

.golpes {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;

  button {
    width: 100px;
  }
}
