img {
  zoom: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.pokemons {
  img {
    width: 60px;
    cursor: pointer;
  }
}

.bar-hp {
    width: 100px;
    background-color: red;
    height: 14px;
    border-radius: 8px;
}

.hp {
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}


.golpes {
  display: grid;
  gap: 10px;

  button {
    width: 100px;
  }
}
