.div-login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    background-color: darkgray;
    padding: 8px;
}

.my-input {
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px;
}

.my-btn {
    border: none;
    padding: 8px;
    border-radius: 8px;
}